:root {
    --video-width: 100%;
}

.video-wrapper {
    flex: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--video-width);
    height: 100vh;
    /* Set to cover the screen vertically */
    background-color: black;
    font-size: 1rem;
    bottom: 0;
}

.video {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


@media (max-width: 1110px) {
    .video-wrapper {
        flex: 1;
        height: calc(0.5625 * 100vw);
        position: fixed;
        top: 0;
    }
}

.play-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-button>svg {
    width: 6.25rem;
    height: 6.25rem;
    color: grey;
    stroke: 0.0625rem;
    transition: color 0.1s ease-in-out;
}

.play-button>svg:hover {
    color: red;
}

.volume {
    z-index: 1;
    user-select: none;
    color: white;
    display: flex;
    align-items: center;
}

.seek-button {
    position: absolute;
    z-index: 1;
    bottom: 1.875rem;
    left: 0;
    right: 0;
}

.input-slider {
    --c: red;
    --g: 2px;
    --l: 2px;
    --s: 0.625rem;
    height: var(--s);
    --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    transition: height 0.1s ease-in-out;
}


.input-slider:focus-visible,
.input-slider:hover {
    --p: 50%;
    --s: 1.25rem;
}

.input-slider:active,
.input-slider:focus-visible {
    --_b: var(--s)
}

/* chromium */
.input-slider::-webkit-slider-thumb {
    height: var(--s);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
    -webkit-appearance: none;
    appearance: none;
    transition: .3s;
}

/* Firefox */
.input-slider::-moz-range-thumb {
    height: var(--s);
    width: var(--s);
    background: none;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
    -moz-appearance: none;
    appearance: none;
    transition: .3s;
}

@supports not (color: color-mix(in srgb, red, red)) {
    input {
        --_c: var(--c);
    }
}

.left-buttons {
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 0.625rem;
    left: 0.625rem;
    user-select: none;
    color: white;
    align-items: center;
    gap: 10px;
}

.fullscreen {
    position: absolute;
    bottom: 0.3125rem;
    right: 4.375rem;
}

.speed {
    position: absolute;
    z-index: 1;
    bottom: 0.625rem;
    right: 0.625rem;
    color: white;
}

.speed, .speed>div {
    width: 3.125rem;
    cursor: pointer;
}

.speed-option {
    background-color: rgba(0, 0, 0, 0.5);
}

.speed-option:hover {
    color: lightpink;
}

.speed-selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed-selector:hover {
    color: white;
}

/* Fullscreen specific styles */
:fullscreen .video-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

:fullscreen .video {
    width: 100%;
    height: 100%;
}

.play-button, .seek-button, .left-buttons, .volume, .fullscreen {
    transform: .3s;
}

.hide-buttons {
    display: none;
}

:fullscreen .play-button,
:fullscreen .input-slider,
:fullscreen .left-buttons,
:fullscreen .fullscreen,
:fullscreen .speed {
    position: absolute;
    z-index: 1000;
}